In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\Square Bear\\Documents\\Thinkful\\Datasets\\countries of the world.csv")

df = df.dropna()

df['Birthrate'] = df['Birthrate'].str.replace(',','.')
df['Birthrate'] = df['Birthrate'].apply(float)

np.mean(df), np.std(df, ddof = 1) / np.sqrt(len(df))
print(df.mean()) 
'\n'
'\n'
print(df.std())
'\n'
print(df.Birthrate.max())
'\n'
print(df.Birthrate.min())

df.Country.value_counts()

Population            3.421415e+07
Area (sq. mi.)        5.641830e+05
GDP ($ per capita)    9.125698e+03
Birthrate             2.306749e+01
dtype: float64
Population            1.317639e+08
Area (sq. mi.)        1.395657e+06
GDP ($ per capita)    9.644123e+03
Birthrate             1.128721e+01
dtype: float64
50.73
7.29

Guadeloupe                           1
Mauritius                            1
Iraq                                 1
Kuwait                               1
French Guiana                        1
Costa Rica                           1
Colombia                             1
Congo, Repub. of the                 1
Cayman Islands                       1
Latvia                               1
Azerbaijan                           1
Indonesia                            1
China                                1
Paraguay                             1
Argentina                            1
India                                1
Zimbabwe                             1
Saint Vincent and the Grenadines     1
Cameroon                             1
Portugal                             1
Madagascar                           1
Finland                              1
Estonia                              1
Switzerland                          1
Iran                                 1
Nicaragua                            1
Thailand                             1
Djibouti                             1
Japan                                1
Peru                                 1
                                    ..
Malawi                               1
Sri Lanka                            1
Taiwan                               1
Niger                                1
Poland                               1
Saint Lucia                          1
Grenada                              1
Reunion                              1
Turkey                               1
Ecuador                              1
Czech Republic                       1
Uruguay                              1
Senegal                              1
Fiji                                 1
Brazil                               1
Vietnam                              1
Chad                                 1
Sao Tome & Principe                  1
Malaysia                             1
Marshall Islands                     1
Jordan                               1
Qatar                                1
Swaziland                            1
Equatorial Guinea                    1
Comoros                              1
Nigeria                              1
Burma                                1
Spain                                1
Turkmenistan                         1
New Zealand                          1
Name: Country, Length: 179, dtype: int64