In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('C:\\Users\\Square Bear\\Documents\\Thinkful\\Datasets\\plane_crashes_data.csv')

print(df.columns)
print('\n')
print(df.dtypes)

Index(['month', 'hour', 'year', 'location', 'operator', 'route', 'type',
       'aboard', 'fatalities', 'summary'],
      dtype='object')


month          int64
hour          object
year           int64
location      object
operator      object
route         object
type          object
aboard         int64
fatalities     int64
summary       object
dtype: object

In [44]:
df.head(10)

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...
5,5,10,1950,"Myrtle Beach, South Carolina",Military - U.S. Air Force,NaN,Curtiss C-46D,39,39,"Lost the left aileron after taking off, lost c..."
6,5,17,1950,"Teterboro, New Jersey",Regina Cargo Airlines,NaN,Curtiss C-46F-1-CU,2,1,The cargo plane lost an engine on takeoff and ...
7,6,22,1950,AtlantiOcean off Florida,Westair Transport,San Juan - Wilmington NC,Curtiss C-46-F-1-CU,65,28,Ditched into the Atlanti300 miles east of Melb...
8,6,19,1950,"Near Fonseca, Colombia",New Tribes Mission,"Kingston, Jamacia - Maracaibo, Venezuela",Douglas DC-3-178,15,15,Crashed and burned 19 miles east northeast of ...
9,6,21,1950,Off Bahrain,Air France,Saigon - Paris,Douglas DC-4-1009,52,46,"While making a final approach for Bahrain, the..."

In [16]:
df.tail(10)

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
2699,4,14,2009,"Off Crimond, Scotland",Bond Offshore Helicopters,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,16,16,The helicopter crashed 35 miles East of Crimon...
2700,4,12,2009,"Bandung, Indonesia",Military - Indonesian Air Force,Militiary training,Fokker F-27 Friendship 400M,24,24,While returning from a military training exerc...
2701,4,7,2009,"Near Wamena, Indonesia",Aviastar Mandiri,Jayapura - Wamena,British Aerospace BAe-146-300,6,6,The cargo plane crashed into Gunung Pike mount...
2702,4,10,2009,"Mount Gergaji, Indonesia",Mimika Air,Ilaga - Mulia,Pilatus PC-6,11,11,The passenger plane crashed in poor weather in...
2703,4,15,2009,"Canaima National Park, Venezuela",Aerotuy airline,Canaima - Porlamar,Cessna 208B Grand Caravan,11,1,"The plane, carrying 9 tourists, crashed 5 mile..."
2704,4,6,2009,"Massamba, DemocratiRepubliof Congo",Bako Air,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,7,7,Crashed while en route on a ferrying flight. T...
2705,5,12,2009,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,Patrol,Mi-35,18,18,The helicopter was patrolling along the Venezu...
2706,5,6,2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,Jakarta - Maduin,Lockheed C-130 Hercules,112,98,"While on approach, the military transport cras..."
2707,6,0,2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,228,228,The Airbus went missing over the AtlantiOcean ...
2708,6,8,2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,1,1,The air ambulance crashed into hills while att...

In [17]:
df.loc[lambda df: df['year'] >= 1980, 'fatalities'].mean()

24.932607215793055

In [49]:
month_max_crash = df.loc[lambda df: df['year'] >= 1950, : ].groupby('month').count()
print(month_max_crash)

       hour  year  location  operator  route  type  aboard  fatalities  \
month
1       255   255       255       255    220   255     255         255
2       209   209       208       209    180   209     209         209
3       251   251       250       250    208   251     251         251
4       204   204       204       204    163   203     204         204
5       181   181       180       181    158   181     181         181
6       202   202       202       202    174   202     202         202
7       234   234       234       234    202   234     234         234
8       239   239       239       239    211   239     239         239
9       228   228       228       228    200   228     228         228
10      224   224       224       223    186   224     224         224
11      230   230       230       230    196   230     230         230
12      252   252       252       252    220   252     252         252

       summary
month
1          252
2          209
3          250
4          204
5          179
6          200
7          234
8          238
9          228
10         224
11         229
12         249

In [25]:
df[(df.year>=1960)&(df.year<=1970)]

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
303,1,10,1960,"Taksing, India",Indian Airlines,NaN,Douglas C-47A,9,9,The cargo plane crashed while dropping supplie...
304,1,2,1960,"Wilmington/Bolivia, North Carolina",National Airlines,New York - Miami,Douglas DC-6B,34,34,"The plane disintegrated in flight at 18,000 fe..."
305,1,15,1960,Gulf of Sirte,Military - U.S. Army,Misurata - Benghazi,de Havilland Canada U-1A Otter,10,10,"Missing, never found."
306,1,22,1960,"Charles City, Virginia",Capital Airlines,Washington D.C. - Norfolk,Vickers Viscount 745D,50,50,The aircraft crashed and burned in a wooded ar...
307,1,18,1960,"Ankara, Turkey",Scandinavian Airlines (SAS),Istanbul - Ankara,Sud Aviation Caravelle 1,42,42,"While on a flight from Istanbul to Ankara, Tur..."
308,1,0,1960,"Off Bathurst Island, Australia",Transportes AÃ©reos de Timor,Darwin - Baucau,de Havilland DH-114 Heron 2D,9,9,Radio contact was lost with the aircraft befor...
309,2,13,1960,"Rio de Janeiro, Brazil",REAL / Military - U.S. Navy,Campos - Rio de Janeiro,Douglas DC-3 / USN R-6D-1,61,61,Midair collision between a DC-3 and a US Navy ...
310,3,15,1960,"Near Cannelton, 10 mile SE of Tell City, Indiana",Northwest Orient Airlines,Chicago - Miami,Lockheed 188C Electra,63,63,An in-flight separation of the wing. A design ...
311,3,11,1960,"Cordoba, Colombia",SAMSA,San Andres - Medellin,Curtiss C-46,46,25,Forced landing after engine failure. The accid...
312,4,14,1960,"Siuna, Nicaragua",Lanica,Siuna - Bonanza,Curtiss C-46A-40-CU,18,2,Flew into a hill shortly after taking off. Eng...
313,4,14,1960,"Pelotas, Brazil",Cruzeiro,NaN,Douglas DC-3,22,10,"While taking off, the plane drifted to the rig..."
314,4,20,1960,"Bogota, Colombia",Lloyd Aereo Colombiano,Miami - Medellin - Bogota,Curtiss C-46,51,37,Crashed during final approach. The pilot faile...
315,4,13,1960,"Hickory, North Carolina",Piedmont Airlines / Private,"Cincinnati, OH - Hickory, NC",Fairchild F-27 / Cessna 310,44,4,The aircraft were involved in a midair collisi...
316,4,8,1960,"Near Calabozo, Venezuela",Linea Aeropostal Venezolana,Maiquetia - Calabozo,Douglas DC-3,13,13,The aircraft crashed after an explosion aboard...
317,5,19,1960,"Jebel Marra, Sudan",Balair,Niamey - Khartoum,Douglas DC-4-1009,12,12,"Crashed into 8,000 ft. Mt. Marra. Navigation e..."
318,5,11,1960,"Atlanta, Georgia",Delta Air Lines,Training,Convair CV-880,4,4,"The aircraft stalled for reasons undetermined,..."
319,6,4,1960,"Mt. Gilbert, Alaska",PacifiNorthern Airlines,Cordova - Anchorage,Lockheed 749A-79-32 Constellation,14,14,The aircraft failed to maintain its intended f...
320,6,18,1960,"Rio de Janeiro, Brazil",REAL,Belo Horizonte - Rio de Janeiro,Convair CV-340-62,54,54,Crashed into Guanabara Bay during approach. Ca...
321,7,14,1960,"Off Barnegat City, New Jersey",Military - U.S. Navy,NaN,Goodyear ZPG-3W (airship),21,18,The airship crashed nose-first into the Atlant...
322,7,11,1960,"Near Quito, Ecuador",Military - U.S. Air Force,Bogota - Quito,Douglas C-47B-DK,18,18,Crashed and burned on Mt. Pichincha as it prep...
323,7,4,1960,"Off Manila, Philippines",Northwest Orient Airlines,Okinawa - Manila,Douglas DC-7C,58,1,After a loss of power in the No. 2 engine the ...
324,7,9,1960,"Near Jima, Ethiopia",Ethiopian Airlines,Bulchi - Jimma,Douglas DC-3,11,1,"Crashed onto a mountainside at 9,000 ft. The p..."
325,7,13,1960,"Near Goma, Zaire",Military - Royal Belgian Air Force,NaN,Fairchild C-119G,41,37,Crashed into mountainous terrain north of Lake...
326,7,22,1960,"Forest Park, Illinois",Chicago Helicopter Airways,NaN,Sikorsky S-58C helicopter,13,13,The helicopter crashed into Forest Home Cemete...
327,7,10,1960,"Near Rimini, Italy",Deutsche Flugdienst,Frankfort - Rimini,Convair CV-240-4,34,1,"While descending through 5,000ft, the crew los..."
328,8,23,1960,"Near El Kelaa, Morocco",Military - French Naval Aviation,NaN,Avro Lancaster 1,20,20,Cashed while en route to Casablanca after expe...
329,8,6,1960,"Off Dakar, Senegal",Air France,Paris - Dakar,Lockheed 1049G Super Constellation,63,63,The aircraft crashed into the AtlantiOcean aft...
330,9,6,1960,"Agana, Guam, Mariana Islands",World Airways,Guam - Wake Island,Douglas DC-6AB,94,80,The aircraft was carrying American servicemen ...
331,9,23,1960,"Moscow, Russia",Austrian Airlines,Warsaw - Moscow,Vickers Viscount 837,37,31,"Crashed on approach to Moscow, 11 nm short of ..."
332,9,12,1960,"Off Elba, Italy",United Arab Airlines,Geneva - Rome,Vickers Viscount 739B,21,21,Crashed into the Tyrrhenian Sea off Elba afte...
...,...,...,...,...,...,...,...,...,...,...
791,3,16,1970,"Binghamton, New York",Commuter Airline - Air Taxi,"Binghamton, NY - Washington DC",Beechcraft C-45H,11,3,"Ran off end of runway, crashed and burned whil..."
792,3,19,1970,"Colorado City, Arizona",Grand Canyon Airlines,Grand Canyon - Las Vegas,Piper PA-32,6,6,"Flew into thunderstorms and turbulence, crashe..."
793,4,8,1970,"Casablanca, Morocco",Royal Air Maroc,Agadir - Casablanca,Aerospatiale Caravelle 3,82,61,The aircraft crashed 9.7 km short of the runwa...
794,4,0,1970,"Cambridge, Maryland",East Coast Air - Air Taxi,"Teterboro, NJ - Cambridge, MD",Piper PA-32,3,3,Collided with trees while attempting to land i...
795,5,15,1970,"Near St. Croix, US Virgin Islands",Antillian Airlines,New York City - St. Maarten,McDonnell Douglas DC-9-33CF,63,23,The flight was scheduled to fly from New York ...
796,5,21,1970,"Pellston, Michigan",Executive Jet Sales Inc.,Detroit - Pellston,Gates Learjet 23,6,6,"The aircraft, cleared for an instrument landin..."
797,5,9,1970,"Chamblee, Georgia",Lehigh Acres Development Inc.,"Chamblee, GA - Fort Myers,FL",Martin 404,33,1,There was a loss of power as the aircraft clim...
798,6,3,1970,"Tripoli, Libya",Ceskoslovenske Aerolinie,NaN,Tupolev TU-104A,13,13,Undershot runway in fog and crashed after two ...
799,7,14,1970,"McGrath, Alakska",Reeder Flying Service,"McGrath AK - Galena, AK",Douglas DC-3,27,5,Crashed into trees shortly after taking off. T...
800,7,19,1970,"Near Arbucias, Gerona, Spain",Dan Air Services,Manchester - Barcelona,de Havilland Comet 4,112,112,"Due to heavy traffic, the flight was diverted ..."
801,7,8,1970,"Toronto, Canada",Air Canada,Montreal - Toronto - Los Angeles,McDonnell Douglas DC-8-63,109,109,"While attempting to land at Toronto, at approx..."
802,7,17,1970,North AtlantiOcean,Military - Soviet Air Force,Reykjavik - Halifax - Sidney,Antonov AN-22,23,23,Disappeared without a trace while en route wit...
803,7,10,1970,"Lincoln, New Mexico",Del Rio Flying Service - Air Taxi,"San Antonio, TX - Rudioso, NM",Cessna 310J,7,7,Flew into mountain ridge obscured by clouds. C...
804,7,11,1970,"Tokyo, Japan",Flying Tiger Line,Tokyo - Okinawa,McDonnell Douglas DC-8-63AF,4,4,Cargo plane. An unarrested rate of descent due...
805,8,2,1970,"Islamabad, Pakistan",Pakistan International Airlines,Rawalpindi - Lahore,Fokker F-27 Friendship 200,30,30,Crashed into terrain after takeoff in thunders...
806,8,15,1970,"Near Cuzco, Peru",Lineas Aereas Nacionales SA (Peru),Cuzco - Lima,Lockheed 188A Electra,100,99,The flight crashed shortly after takeoff after...
807,8,3,1970,"Taipei, Taiwan",China Airlines (Taiwan),Hwa-Lien,NAMC YS-11A-219,31,14,Crashed on Yuan mountain while on approach to ...
808,9,16,1970,"New York, New York",Trans International Airlines,"Jamaica, NY - Washington D.C.",McDonnell Douglas DC-8-63CF,11,11,Rejected takeoff. Lost control and crashed. Lo...
809,9,8,1970,"Cranbrook, Canada",Eagle Flight - Air Taxi,"Portland, OR - Cranbrook, Canada",Cessna T337B,4,4,Descended below minimum approach altitude for ...
810,10,12,1970,"Mt. Trelease, near Silver Plume, Colorado","Charter, Golden Eagle Aviation Inc.","Wichita - Denver - Logan, Utah",Martin 404,40,30,Two charter planes took off Wichita for a flig...
811,10,14,1970,"Near Taipei, Taiwan",Military - U.S. Air Force,Taipei - Ching Chuan Kang,Lockheed C-130E,43,43,The aircraft struck a mountain ridge 6 minutes...
812,10,15,1970,"Mahaffey, Pennsylvania",Private,"Dubois, PA - Roanoak, VA",Aero Commander 500-B,2,2,The aircraft crashed into a mountainside 20 mi...
813,10,21,1970,"Dayton, Ohio",Saturn Airways,"Dayton, OH - Ft. Dix, NJ",Lockheed L-100-20 Hercules,3,3,The crew of the cargo plane became disoriented...
814,10,16,1970,"New Castle, Delaware",Delaware Aviation - Air Taxi,"Teleboro, NJ - Wilmington, DE",Piper PA-28R,2,2,Pilot received landing clearance then was obse...
815,11,19,1970,"Near Huntington, West Virginia",Southern Airways,"Kingston, NC - Huntington, WV",McDonnell Douglas DC-9-31,75,75,"While on approach, the aircraft crashed one mi..."
816,11,9,1970,"Nar Can Tho, South Vietnam",Military - Vietnamese Air Force / Military - U...,NaN,de Havilland RU-6A Beaver /Bell UH-1H,18,18,"Mid-air collision at 1,200 ft."
817,11,17,1970,"Anchorage, Alaska",Capital Airlines,Anchorage - Yokota AFB,McDonnell Douglas DC-8-63CF,229,47,The military charter overran the runway during...
818,11,13,1970,"Near Nha Trang, South Vietnam",Military - U.S. Air Force,Saigon - Nha Trang AB,Fairchild C-123K,79,79,Crashed into high ground on a mountainside whi...
819,11,14,1970,"Near Cam Ranh, South Vietnam",Military - U.S. Air Force,Cam Ranh Bay AB - Siagon,Fairchild C-123K,44,42,Crashed into the jungle 15 miles from it desti...
820,12,14,1970,"St. Thomas, Virgin Islands",Trans Caribbean Airways,New York - St. Thomas,Boeing B-727-2A7,55,2,The aircraft experienced a hard landing which ...

In [26]:
df.isna().sum()

month           0
hour            0
year            0
location        3
operator        2
route         391
type            1
aboard          0
fatalities      0
summary        13
dtype: int64

In [34]:
df = df.fillna(df.mean())
df.head(10)

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...
5,5,10,1950,"Myrtle Beach, South Carolina",Military - U.S. Air Force,Training,Curtiss C-46D,39,39,"Lost the left aileron after taking off, lost c..."
6,5,17,1950,"Teterboro, New Jersey",Regina Cargo Airlines,Training,Curtiss C-46F-1-CU,2,1,The cargo plane lost an engine on takeoff and ...
7,6,22,1950,AtlantiOcean off Florida,Westair Transport,San Juan - Wilmington NC,Curtiss C-46-F-1-CU,65,28,Ditched into the Atlanti300 miles east of Melb...
8,6,19,1950,"Near Fonseca, Colombia",New Tribes Mission,"Kingston, Jamacia - Maracaibo, Venezuela",Douglas DC-3-178,15,15,Crashed and burned 19 miles east northeast of ...
9,6,21,1950,Off Bahrain,Air France,Saigon - Paris,Douglas DC-4-1009,52,46,"While making a final approach for Bahrain, the..."

In [39]:
list = ['location','operator','route','type','summary']

for i in list:
     df[i] = df[i].fillna(df[i].mode()[0])

df.head(10)

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...
5,5,10,1950,"Myrtle Beach, South Carolina",Military - U.S. Air Force,Training,Curtiss C-46D,39,39,"Lost the left aileron after taking off, lost c..."
6,5,17,1950,"Teterboro, New Jersey",Regina Cargo Airlines,Training,Curtiss C-46F-1-CU,2,1,The cargo plane lost an engine on takeoff and ...
7,6,22,1950,AtlantiOcean off Florida,Westair Transport,San Juan - Wilmington NC,Curtiss C-46-F-1-CU,65,28,Ditched into the Atlanti300 miles east of Melb...
8,6,19,1950,"Near Fonseca, Colombia",New Tribes Mission,"Kingston, Jamacia - Maracaibo, Venezuela",Douglas DC-3-178,15,15,Crashed and burned 19 miles east northeast of ...
9,6,21,1950,Off Bahrain,Air France,Saigon - Paris,Douglas DC-4-1009,52,46,"While making a final approach for Bahrain, the..."

In [40]:
df['fatalities'].max()

583

In [41]:
len(df.loc[lambda df: df['fatalities'] > 0, :]['fatalities']) / len(df)

0.9819121447028424

In [42]:
(df['fatalities']/df['aboard']).mean()

0.8231319223510563